<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Guestbook</title>
    <link href="{{ static_url('style.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Guestbook</h1>
    <form method="post">
        <label for="nm">Name:</label><input type="text" name="name" id="nm" required>
        <label for="eml">eMail:</label><input type="email" name="email" id="eml" required>
        <label for="msg">Message:</label><textarea name="message" id="msg" rows="5" required></textarea>
        <button type="submit">Post</button>
    </form>
    {% for entry in entries %}
    <div class="entry">
        <div>
            <a href="mailto:{{ entry.email }}">{{ entry.name }}</a><br>
            <small>{{ entry.posted.strftime('%Y-%m-%d %H:%M') }}</small>
        </div>
        <div class="message">{{ entry.message }}</div>
    </div>
    {% end %}
    {% import math %}
    <div class="pages">
        Page
        {% for n in range(1, math.ceil(total_entries / MAX_ENTRIES_PER_PAGE) + 1) %}
            {% if n == page %}
                {{ n }}
            {% else %}
                <a href="?page={{ n }}">{{ n }}</a>
            {% end %}
        {% end %}
    </div>
</div>
</body>
</html>
